<header class="navbar navbar-fixed-top">
  <div class="container">
    <% if logged_in? %>
    <%= link_to "sample app", microposts_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", microposts_path %></li>
        <li><%= link_to "Users", users_path %></li>        
        <li><%= link_to "Notice",   '#' %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </nav>
    <% else %>
      <%= link_to "sample app", root_url, id: "logo" %>
    <% end %>
  </div>
</header>