<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_url, id: "logo" %>
    <nav>
      <% if logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", users_path %></li>
        <li><%= link_to "Notice",   '#' %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
      <% end %>
    </nav>
  </div>
</header>