<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application',
                               'data-turbolinks-track': 'reload' %>
  </head>

  <body class=<%="enter_form" if yield(:title) == "Login" || "Signup" %>>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class = "alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <footer>
      <%= link_to "写真をアップロードする", new_micropost_path if logged_in? %>  
    </footer>    
  </body>
</html>
